<h2 class="popup-modal_head">Отпуск: {{vac.employeeName}}</h2>

<div class="popup-modal_content" data-bol-spinner data-display="{{mainSpinner}}">
   <div class="clearfix popup-modal_content" data-ng-show="isLoaded">
      <div class="right-column right-column-scroll">

         <div class="left-column left-column-scroll" controller="ListItemCtrl">
            <div class="list-item list-item__new" data-ng-class="{'list-item__active': !vac.selectedVacation}"
                 data-ng-click="vac.selectItem(null)"
                 data-qa="Vacation.Add">
               Оформление нового</div>
            <p data-ng-hide="vac.vacationCollection.length > 0" class="nh">
               <span data-ng-show="vac.sex">Сотрудник</span>
               <span data-ng-hide="vac.sex">Сотрудница</span>
               пока не
               <span data-ng-show="vac.sex">был</span>
               <span data-ng-hide="vac.sex">была</span>
               в отпуске
            </p>
            <div data-ng-show="vac.vacationCollection.length > 0"
                 class="list-item list-item__back list-item__clip nh">↓ Предыдущие отпуска</div>
               <div class="left-scroll-inside">
                   <div class="list-item" ng-repeat="item in vac.vacationCollection | orderBy:'sortId':true"
                        ng-class="{'list-item__active': item.selected}"
                        ng-click="vac.selectItem(item)"
                        data-qa="Vacation.Created">
                       {{ item.DateBegin | reduceDateFilter:item.DateEnd:'short' }}
                   </div>
               </div>
         </div>

         <div class="maincontright" data-bol-spinner data-display="{{miniSpinner}}">
            <div data-ng-hide="miniSpinner">
               <div class="vacation" data-ng-hide="vac.edition">
                  <h2 class="vacation__title">
                     {{vac.selectedVacation.TypeCatalogId | vacationType:vac.vacationCatalog}}<br>
                     {{ vac.selectedVacation.DateBegin | reduceDateFilter:vac.selectedVacation.DateEnd:'long' }}
                  </h2>
                  <p class="vacation__text">Договор:
                     <span data-ng-show="vac.selectedVacation.position">{{vac.selectedVacation.position}},</span>
                     <span data-ng-show="vac.isMain">основное место работы</span>
                     <span data-ng-hide="vac.isMain">работа по совместительству</span>
                  </p>

                  <p class="vacation__text">
                     Отпускные:
                     <span data-ng-hide="vac.isUnpaybleVacation(vac.selectedVacation.TypeCatalogId)"
                           data-qa="Vacation.Money">
                         {{vac.selectedVacation.Calculation.Otpusknye | bolCurrency}} руб
                     </span>
                     <span data-ng-show="vac.isUnpaybleVacation(vac.selectedVacation.TypeCatalogId)"
                           data-qa="Vacation.Money">
                         0 руб
                     </span><br>
                      <span data-ng-hide="vac.isUnpaybleVacation(vac.selectedVacation.TypeCatalogId)"
                            data-dropdown-caller="calculation-info-view" class="vacation__consult-link"
                            data-qa="Vacation.HowCalc">
                          Как рассчитано
                      </span>
                     <dropdown class="dropdown__regular" id="calculation-info-view" data-noposition="true">
                        Узнать, как рассчитана сумма, можно в разделе «Зарплата». Для этого в нужном месяце нажмите на
                        фамилию сотрудника и затем на сумму
                     </dropdown>
                  </p>

                  <p class="vacation__text"
                     data-ng-hide="vac.isUnpaybleVacation(vac.selectedVacation.TypeCatalogId)">
                     Дата выплаты отпускных: {{vac.selectedVacation.NachislenieDate | bolDate:'d MMMM yyyy'}}
                  </p>

                  <p class="vacation__text">
                     <span class="as_link link_secondary" data-ng-click="vac.downloadDocs('Order', 'Pdf')"
                           data-qa="Vacation.Prikaz">
                         Приказ о предоставлении отпуска PDF
                     </span>
                     /
                     <span class="as_link link__xls"
                           data-ng-click="vac.downloadDocs('Order', 'EXCELOPENXML')"
                           data-qa="Vacation.Prikaz.Xls">XLS</span>
                     <span class="bol-spinner bol-spinner_left-position" data-bol-spinner data-options='{"zIndex":1}'
                           data-display="{{vac.orderDownload}}"
                           type="mini"></span>
                  </p>
                  <p class="vacation__text" data-ng-hide="vac.isUnpaybleVacation(vac.selectedVacation.TypeCatalogId)">
                     <span class="as_link link_secondary" data-ng-click="vac.downloadDocs('T60', 'Pdf')"
                           data-qa="Vacation.Prikaz.T60">
                         Записка-расчет отпуска (Т-60) PDF
                     </span>
                     /
                     <span class="as_link link__xls"
                           data-ng-click="vac.downloadDocs('T60', 'EXCELOPENXML')"
                           data-qa="Vacation.Prikaz.T60.Xls">XLS</span>
                     <span class="bol-spinner bol-spinner_left-position" data-bol-spinner data-options='{"zIndex":1}'
                           data-display="{{vac.t60Download}}"
                           type="mini"></span>
                  </p>

                  <button class="button button_print"
                          data-ng-hide="vac.isUnpaybleVacation(vac.selectedVacation.TypeCatalogId)"
                          data-ng-click="vac.downloadDocs('All', 'Pdf', 2)"
                          data-qa="Vacation.Print">
                      Распечатать все...
                  </button>
                  <span class="bol-spinner bol-spinner_left-position" data-bol-spinner data-options='{"zIndex":1}'
                        data-display="{{vac.everyDownload}}"
                        type="mini"></span>

                  <div class="vacation__controls">
                     <check-reopens class="fr">
                        <button class="button button_negative button_secondary"
                                data-ng-class="{'button_preload': vac.deleting}"
                                data-check-reopens-on-click="vac.remove(vac.selectedVacation.Id)"
                                data-qa="Vacation.Delete">
                           Удалить
                        </button>
                     </check-reopens>
                     <div class="control-group">
                        <button class="button" data-ng-click="vac.closePop()"
                                data-qa="Vacation.Exit">
                            Закрыть
                        </button>
                        <button class="button" data-ng-click="vac.edit()"
                                data-qa="Vacation.Change">
                            Исправить
                        </button>
                     </div>
                  </div>
               </div>

               <form class="vacation" data-ng-show="vac.edition" name="vacation">
                  <h2 class="vacation__title" data-ng-class="{'vacation__title_consult': isConsult() &&
                        vac.currentVacation.Type.Alias != 'Drugoe'}">
                     Оформление отпуска
                  </h2>
                  <div class="vacation__line" data-ng-class="{'vacation__line_consult': isConsult() &&
                        vac.currentVacation.Type.Alias != 'Drugoe'}">
                     <div class="dropdown dropdown__float dropdown__big opac"
                          data-ng-class="{'opac1': isConsult() && vac.currentVacation.Type.Alias != 'Drugoe'}">
                        <span class="dropdown_name">
                           <span class="btn btn__consult">
                               <span class="btn-in" data-qa="Podskazka.Vacation.Type">&nbsp;</span>
                           </span>
                           <span class="dropdown_name_sim">!</span>
                        </span>
                        <div class="dropdown_block dropdown_block__consulting">
                           За один полный отработанный месяц сотруднику полагается 2,33 дня отпуска. Если сотрудник не
                           наработал нужное количество дней, отпуск дается ему авансом.
                        </div>
                     </div>
                     <div class="custom-select custom-select__big__medium">
                        <select data-ng-model="vac.currentVacation.Type"
                                data-ng-options="c.DisplayName for c in vac.vacationCatalog"
                                data-custom-select data-showinput="test-input"
                                data-autofocus="title-input"
                                data-ng-change="vac.typeChanger()"
                                data-qa="Vacation.Type">
                        </select>
                     </div>
                  </div>

                  <div class="vacation__days" data-ng-class="{'vacation__days_consult': isConsult() &&
                   vac.currentVacation.Type.Alias != 'Drugoe'}">
                     C
                     <span data-dropdown-caller="date-begin" class="date date__ico"
                           data-qa="Vacation.DateBegin"><!--
                         -->{{ vac.currentVacation.DateBegin | bolDate : 'd MMMM yyyy' }}
                     </span>
                     <dropdown id="date-begin" data-noposition="true">
                        <awesome-datepicker m-date="vac.currentVacation.DateBegin"
                                            atm="Vacation.DateBegin"></awesome-datepicker>
                     </dropdown>
                     по
                     <span data-dropdown-caller="date-end" class="date date__ico"
                           data-qa="Vacation.DateEnd"><!--
                         -->{{ vac.currentVacation.DateEnd | bolDate : 'd MMMM yyyy' }}
                     </span>
                     <dropdown id="date-end" data-noposition="true">
                        <awesome-datepicker m-date="vac.currentVacation.DateEnd"
                                            atm="Vacation.DateEnd"></awesome-datepicker>
                     </dropdown>

                     <span data-ng-hide="vac.currentVacation.Type.Alias == 'Drugoe'">
                        ({{vac.currentVacation.Calculation|vacationLength}})
                     </span>
                     <span data-ng-show="vac.currentVacation.Type.Alias == 'Drugoe'">
                        ({{[vac.currentVacation.DateBegin, vac.currentVacation.DateEnd]|dayDelta}})
                     </span>
                  </div>

                  <div class="vacation__line" data-ng-class="{'vacation__line_consult': isConsult() &&
                   vac.currentVacation.Type.Alias != 'Drugoe'}"
                       data-ng-show="vac.currentVacation.Calculation.AvansDays > 0 && vac.showTip &&
                          vac.currentVacation.Type.Alias != 'Drugoe'">
                     <div class="tipbox tipbox_arrow_top tipbox__notice">
                        <i class="tipbox_tail"></i>
                        <span>
                           На выбранную дату
                           <span data-ng-show="vac.currentVacation.Calculation.UnusedDaysInt > 0">
                              {{ vac.currentVacation.Calculation.UnusedDaysInt |
                               declension:'неотгулянный день':'неотгулянных дня':'неотгулянных дней' }},
                           </span>
                           <span data-ng-hide="vac.currentVacation.Calculation.UnusedDaysInt > 0">нет неотгулянных дней,
                           </span>
                           {{vac.currentVacation.Calculation.AvansDays | declension:'день отпуска будет предоставлен':
                           'дня отпуска будут предоставлены':'дней отпуска будут предоставлены'}}
                           <span data-ng-show="vac.sex">сотруднику</span>
                           <span data-ng-hide="vac.sex">сотруднице</span>
                           авансом
                        </span>
                        <div class="as_link link_secondary" data-qa="Vacation.Tipbox.Close"
                             data-ng-click="vac.hideTip()">
                           Скрыть
                        </div>
                     </div>
                  </div>

                  <div class="vacation__line vacation__line_grey"
                       data-ng-hide="vac.currentVacation.Type.Alias == 'Drugoe'">
                     <div class="vacation__line" data-ng-class="{'vacation__line_consult': isConsult() &&
                        vac.currentVacation.Type.Alias != 'Drugoe'}">
                        <div class="dropdown dropdown__float dropdown__big opac"
                             data-ng-class="{'opac1': isConsult() && vac.currentVacation.Type.Alias != 'Drugoe'}">
                           <span class="dropdown_name">
                              <span class="btn btn__consult">
                                  <span class="btn-in" data-qa="Podskazka.Vacation.Payments">&nbsp;</span>
                              </span>
                              <span class="dropdown_name_sim">!</span>
                           </span>
                           <div class="dropdown_block dropdown_block__consulting">
                              Выплатить отпускные сотруднику нужно не позднее, чем за три дня до начала отпуска.
                           </div>
                        </div>
                        <p class="vacation__label">Сумма отпускных</p>
                        <span class="bol-spinner__sicklist" data-bol-spinner
                              data-display="{{vac.calculationInProcess}}"
                              data-options='{"zIndex":1}'
                              type="mini"></span>
                        <p class="vacation__label vacation__label_strong" data-ng-hide="vac.calculationInProcess"
                           data-qa="Vacation.Money">
                            {{vac.currentVacation.Calculation.Otpusknye | bolCurrency}} руб
                        </p>
                        <span data-dropdown-caller="calculation-info" class="vacation__consult-link"
                              data-ng-hide="vac.calculationInProcess"
                              data-qa="Vacation.HowCalc">
                           Как рассчитано
                        </span>
                        <dropdown class="dropdown__regular" id="calculation-info" data-noposition="true">
                           Узнать, как рассчитана сумма, можно будет после оформления. Для этого в разделе «Зарплата»
                           за нужный месяц нажмите на фамилию сотрудника и затем на сумму.
                        </dropdown>
                     </div>
                  </div>

                  <div class="vacation__line" data-ng-class="{'vacation__line_consult': isConsult() &&
                     vac.currentVacation.Type.Alias != 'Drugoe'}"
                       data-ng-hide="vac.currentVacation.Type.Alias == 'Drugoe'">
                     Дата выплаты отпускных<br>
                     <span data-dropdown-caller="date-payment" class="date date__ico"
                           data-qa="Vacation.NachislenieDate"><!--
                         -->{{ vac.currentVacation.NachislenieDate | bolDate : 'd MMMM yyyy' }}
                     </span>
                     <dropdown id="date-payment" data-noposition="true">
                        <awesome-datepicker m-date="vac.currentVacation.NachislenieDate"
                                            atm="Vacation.NachislenieDate"></awesome-datepicker>
                     </dropdown>
                  </div>

                  <div class="vacation__line vacation__line_separator"
                       data-ng-class="{'vacation__line_consult': isConsult() &&
                        vac.currentVacation.Type.Alias != 'Drugoe'}"
                       data-ng-show="vac.currentVacation.Type.Alias == 'Drugoe'">
                     <label class="vacation__label" for="vacationReason">Основание отпуска (необязательно)</label>
                     <input type="text" id="vacationReason" class="t-input t-input__big" maxlength="100"
                            data-modifier='["EnToRu"]'
                            data-ng-model="vac.currentVacation.Reason"
                            data-qa="Vacation.Reason">
                  </div>

                  <div class="vacation__line" data-ng-class="{'vacation__line_consult': isConsult() &&
                     vac.currentVacation.Type.Alias != 'Drugoe'}">
                     <label class="vacation__label" for="vacationOrder">Приказ о предоставлении отпуска</label>
                     <div class="order-number_date m-small">
                        <div class="input-block">
                           <span class="ctrl__sim1_left">№</span>
                           <input type="text" data-ng-model="vac.currentVacation.OrderNumber" id="vacationOrder"
                                  name="Order"
                                  required validate-order-number
                                  class="t-input t-input__medium ctrl__sim1_left" maxlength="16"
                                  data-modifier='["EnToRu", "RegExpFilter:[^-а-яА-Я0-9//]"]'
                                  data-qa="Vacation.OrderNumber.Value">
                        </div>

                        &nbsp;от&nbsp;

                        <span data-dropdown-caller="date-order" class="date date__ico"
                              data-qa="Vacation.OrderNumber.Date"><!--
                            -->{{ vac.currentVacation.OrderDate | bolDate : 'd MMMM yyyy' }}
                        </span>

                        <dropdown id="date-order" data-noposition="true">
                           <awesome-datepicker m-date="vac.currentVacation.OrderDate"
                                               atm="Vacation.OrderNumber.Date"></awesome-datepicker>
                        </dropdown>
                        <div class="ng-error"
                             data-ng-show="vacation.Order.$error.showError == 'checkOrder'">
                           Такой номер приказа уже есть. Введите другой номер.
                        </div>
                     </div>
                  </div>

                  <div class="vacation__line vacation__line_last" data-ng-class="{'vacation__line_consult': isConsult() &&
                   vac.currentVacation.Type.Alias != 'Drugoe'}">
                     <div class="control-group">
                        <check-reopens class="control-group__item">
                            <button class="button button_positive"
                                    data-validation-tip
                                    data-check-reopens-on-click="vac.save(vacation.$invalid)"
                                    data-ng-class="{'button_preload': vac.saving,
                                     'button_disable': vac.calculationInProcess || vacation.$invalid}"
                                    data-qa="Vacation.Save">
                                Оформить отпуск
                            </button>
                        </check-reopens>

                        <button class="button" data-ng-click="vac.cancelEdit()"
                                data-qa="Vacation.Otmena">
                           Отмена
                        </button>
                     </div>
                  </div>

                  <div class="vacation-unused">
                     <span class="vacation-unused__count"
                           data-ng-show="vac.unusedDays > 0"
                           data-currency="vac.unusedDays"></span>
                     <span class="vacation-unused__count"
                           data-ng-hide="vac.unusedDays > 0">Нет</span>
                     <br>неотгулянных
                     <br>дней отпуска
                  </div>
               </form>
            </div>
         </div>
      </div>
   </div>
</div>

<div class="info_hidden_box">
    <span class="button button_consult" data-ng-class="{'button_active': isConsult()}" data-ng-click="setConsult()">
        Подсказки
    </span>
</div>
